.clock {
    position: fixed;
    bottom: -2%;
    left: 50%;
	z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 7px;
}

